* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.siteBrand {
    width: 135px;
    height: 28px;
    margin: 5px;
}

.pageHeader,
.pageFooter {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pageHeader a,
.pageFooter a,
.pagingDiv a {
    color: #3f51b5;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}

.pageHeader a:hover,
.pageFooter a:hover,
.pagingDiv a:hover,
.searchButtons button:hover {
    color: #fff;
    background-color: #3f51b5;
}

.copyright,
.apiLink {
    color: #3f51b5;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
}

.pageMain {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchForm {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox {
    margin: 10px 0;
    margin-bottom: 10px;
    width: 100%;
}

.searchBox input {
    height: 30px;
    width: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 100px;
    padding: 3px 10px;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(136, 136, 136, 0);
    transition: box-shadow .3s;
}

.searchBox input:focus {
    box-shadow: 0 0 10px -4px #888888;
}

.searchButtons button {
    margin-right: 3px;
    background-color: #ececec;
    color: #6f6f6f;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-weight: 700;
}

.resultSection {
    width: 75%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.resultTitle {
    font-weight: 700;
    text-transform: uppercase;
}

.searchResults {
    width: 100%;
    margin: .75em auto .25em;
}

.searchHeader {
    background-color: #3f87a6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: .5em .5em 0 0;
}

.searchHeader span {
    padding: .4em;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.viewLink {
    font-size: calc(1em - 15%);
    padding: .5em;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    display: none;
}

.repoURL:hover,
.viewLink:hover {
    text-decoration: underline;
}

.repoStars img {
    height: 24px;
    width: 24px;
    margin-bottom: -4px;
    margin-left: 6px;
}

.repoInfo {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-bottom: 1px solid #8c8c8c;
    min-height: 225px;
}

.repoDescription {
    padding: .5em;
    border-top: 1px solid #8c8c8c;
}

.repoURL {
    padding: .5em;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.repoTags {
    border-radius: 0 0 .5em .5em;
    padding-bottom: .4em;
    padding-right: .4em;
    font-weight: 700;
    text-align: right;
    background-color: #eee;
}

.tag {
    background-color: #3f87a6;
    color: #fff;
    margin-left: 5px;
    padding: .1em .4em .3em .4em;
    font-size: .75em;
    font-weight: 700;
    border-radius: .5em;
}

.result {
    color: #fff;
    font-weight: bold;
    text-align: right;
}

.pagingDiv {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5px;
    color: #d0d0d0;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

.pagingDiv a {
    color: #3f51b5;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 992px) {

    .repoInfo {
        border-bottom: none;
        min-height: 125px;
    }

    .tag {
        display: none;
    }

    .repoStars img {
        height: 14px;
        width: 14px;
        margin-bottom: -2px;
        margin-left: 3px;
    }

    .repoURL,
    .repoDescription,
    .resultTitle,
    .searchHeader span,
    .searchBox input,
    .pagingDiv,
    .copyright,
    .apiLink,
    .gitLink {
        font-size: calc(1em - 15%);
    }

    .titleImage {
        height: 42px;
    }

    .searchBox input {
        height: 30px;
        padding: 2px 5px;
    }

    .searchButtons button {
        padding: 5px 10px;
        font-size: .85em;
    }

    #luckyButton {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .repoURL {
        display: none;
    }

    .viewLink {
        display: block;
    }

    .repoStars {
        display: none;
    }


    .repoInfo {
        border: none;
    }
}