@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #131d2f;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    padding: 30px 30px;
    border-radius: 10px;
    width: 50vw;
}

.searchForm {
    background: #1e2b48;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchForm input {
    background-color: transparent;
    border: none;
    width: 80%;
    outline: none;
    color: white;
    font-size: 15px;
}

.searchForm button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
}

.title {
    color: antiquewhite;
    font-weight: 700;

}

.bottom a {
    color: antiquewhite;
}