* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
thead,
.bottom {
    text-align: center;
    font-weight: bold;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.pageHeader {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pageHeader img {
    width: 135px;
    height: 28px;
    margin: 5px;
}

.pageHeader a {
    color: #3f51b5;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}

.pageHeader a:hover {
    color: #fff;
    background-color: #3f51b5;
}

.pageFooter {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #d0d0d0;
}

.pageFooter a {
    color: #3f51b5;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 700;
    text-decoration: none;
}

.pageFooter a:hover {
    color: #fff;
    background-color: #3f51b5;
}

.siteBrand {
    height: 48px;
    border-radius: 50%;
    margin: 5px;
}

.copyright {
    color: #3f51b5;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 700;
}

.pageMain {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox {
    margin: 30px 0;
    width: 100%;
}

.searchBox input {
    height: 50px;
    width: 100%;
    border: 1px solid #d0d0d0;
    border-radius: 100px;
    padding: 0 30px;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(136, 136, 136, 0);
    font-size: 1.25em;
    transition: box-shadow .3s;
}

.searchBox input:focus {
    box-shadow: 0 0 10px -4px #888888;
}

.searchButtons {
    display: flex;
    margin-bottom: 30px;
    border-radius: 25px;
}

.searchButtons button {
    margin-right: 15px;
    background-color: #ececec;
    color: #6f6f6f;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
    font-size: 1em;
    font-weight: 500;
}

.searchButtons button:last-child {
    margin-right: 0;
}

.searchButtons button:hover {
    border: 1px solid #8c8c8c;
}

.resultTable {
    border-collapse: collapse;
    width: 70vw;
}

th,
td {
    border: 1px solid #000;
    padding: 5px 10px;
}

thead,
tfoot {
    background-color: #3f87a6;
    color: #fff;
}

tr:nth-of-type(even) {
    background-color: #ddd;
}

.tableCaption {
    font-weight: bold;
    font-size: 1.5em;
}

.result {
    color: #fff;
    font-weight: bold;
    text-align: right;
}

.pagingDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    color: #d0d0d0;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: 500;
}

.pagingDiv a {
    margin-right: 15px;
    color: #3f51b5;
    border-radius: 25px;
    font-weight: 500;
}